In [1]:
import pandas as pd  # Ensure pandas is imported

In [2]:
df1 = pd.read_csv(r'data/df1.csv')

In [3]:
df1.head()

   1
0  2